// TITLE "RUSSO ONE"

@font-face {
	font-family: Montserrat;
	src: url('./../fonts/montserrat-regular-webfont.eot'),
			 url('./../fonts/montserrat-regular-webfont.woff2') format('woff2'),
			 url('./../fonts/montserrat-regular-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Montserrat;
	src: url('./../fonts/montserrat-bold-webfont.eot'),
			 url('./../fonts/montserrat-bold-webfont.woff2') format('woff2'),
			 url('./../fonts/montserrat-bold-webfont.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: Montserrat;
	src: url('./../fonts/montserrat-extrabold-webfont.eot'),
			 url('./../fonts/montserrat-extrabold-webfont.woff2') format('woff2'),
			 url('./../fonts/montserrat-extrabold-webfont.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

// ==========




// PARAGRAPH "OPEN SANS"

@font-face {
	font-family: 'Open Sans';
	src: url('./../fonts/os-regular-webfont.eot'),
		url('./../fonts/os-regular-webfont.woff2') format('woff2'),
		url('./../fonts/os-regular-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('./../fonts/os-italic-webfont.eot'),
		url('./../fonts/os-italic-webfont.woff2') format('woff2'),
		url('./../fonts/os-italic-webfont.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('./../fonts/os-bold-webfont.eot'),
			 url('./../fonts/os-bold-webfont.woff2') format('woff2'),
			 url('./../fonts/os-bold-webfont.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('./../fonts/os-bolditalic-webfont.eot'),
			 url('./../fonts/os-bolditalic-webfont.woff2') format('woff2'),
			 url('./../fonts/os-bolditalic-webfont.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}

// ================