$main-color: #2E1951;
$orange: #E1752F;

$dark-bg: #30194F;
$light-bg: #F8F8F8;
$white: #fff;
$black: #131217;

$title: #211C2C;
$text: #35323E;
$color-text: #b6aad2;
$link: #56449C;
$btn: #E1752F;
$line: #453067;

$card: #372565;
$hover: #6A56B9;