@charset "UTF-8";


@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}



@import "normalize";
@import "variables";
@import "fonts";
@import "mixins";
@import "core";
@import "components";



@import "blocks/header";
@import "blocks/banner";
@import "blocks/services";
@import "blocks/brands";
@import "blocks/aboutus";
@import "blocks/ourteam";
@import "blocks/review";
@import "blocks/footer";
