//SERVICES

.services__padding {
	margin-top: 0;
	margin-bottom: 80px;
	@include bp-768 {
		margin-bottom: 40px;
	}
	@include bp-480 {
		margin-bottom: 20px;
	}
}

.services__container {
	display: flex;
	flex-direction: column;
}

.services__carousel {
	position: relative;
	display: flex;
	flex-direction: row;
	min-width: 0;

	.slick-arrow {
		position: absolute;
		top: 65%;
		width: 48px;
		height: 48px;
		padding: 0;
		margin: 0;
		z-index: 5;
		font-size: 0;
		background: none;
		border: 2px solid $white;

		@include bp-480 {
			top: 55%;
		}

	}
	.slick-prev {
		left: -60px;
		background: url('../img/interface/white-arrow.svg') 18px 11px / 30% no-repeat;
		transform: rotate(180deg);
		@media only screen and (max-width: 1330px) {
			left: 0;
		}

	}
	.slick-next {
		right: -60px;
		background: url('../img/interface/white-arrow.svg') 17px 11px / 30% no-repeat;
		@media only screen and (max-width: 1330px) {
			right: 0;
		}
	}
}


.service__card {
	position: relative;
	display: flex;
	justify-content: flex-end;
	margin: 10px;
	transition: 0.3s ease-in-out;
	a {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 4;
	}
}

.card__box {
	background-color: $card;
	padding: 20px 20px;
	border-radius: 10px;
	@include bp-1200 {
		height: 240px;
	}
	@include bp-992 {
		height: 250px;
	}
	@include bp-640 {
		height: 250px;
	}
	@include bp-480 {
		height: 200px;
	}
	@include bp-380 {
		height: 220px;
	}

	&:hover {
		background-color: $hover;
		cursor: pointer;
	}
}

/*-----------*/




/*Big cards*/

.big-card__container {
	display: flex;
	flex-direction: row;
}

.card--big {
	flex-direction: column;
	width: 360px;
	height: 320px;
	border-radius: 10px;
	box-sizing: border-box;
	@include bp-480 {
		height: 260px;
	}
	
}

.card__img {
	position: relative;
	height: 50px;
	width: 100%;
	// @include bp-640 {
	// 	display: none;
	// }
	img {
		display:block;
		position: absolute;
		bottom: -15px;
		width: 280px;
		left:0;
		right:0;
		margin: 0 auto;
		@include bp-1200 {
			width: 200px;
			bottom: 0;
		}
		@include bp-768 {
			width: 150px;
		}
	}
}

.card__info { 
	display: flex;
	flex-direction: column;
}

.card__name {
	@include bp-480 {
		text-align: center;
	}
	h4 {
		color: $white;
		font-size: 20px;
		@include bp-768 {
			font-size: 16px;
		}

	}
	p {
		color: #CEC2FF;
		span {
			color: $orange;
			margin-right: 10px;
			font-size: 20px;
		}
	}
}

.card__price {
	margin-top: 10px;
	p {
		color: $orange;
		font-size: 26px;
		font-weight: 700;
		text-align: right;
		@include bp-1200 {
			font-size: 22px;
		}
		@include bp-480 {
			text-align: center;
		}
	}
}

/*-----------*/




/*Small cards*/

.small-card__container {
	display: flex;
	flex-direction: row;
	@include bp-1200 {
		flex-direction: column;
	}
}

.small-card__box {
	display: flex;
	flex-direction: row;
	width: 100%;
	@include bp-1200 {
		flex-direction: column;
	}
}

.card--small {
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 273px;
	padding: 30px 20px;
	border-radius: 10px;
	background-color: $card;
	
	@include bp-1200 {
		width: 100%;
		margin-left: 0;
		margin-right: 0;

	}
	@include bp-640 {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	&:hover {
		background-color: $hover;
		cursor: pointer;
	}	
}

// .first-card {
// 	margin-left: 0;
// }

.last-card {
	margin-right: 0;
}



.small-card__name {
	p {
		color: $white;
		font-size: 18px;
		text-transform: uppercase;
		font-weight: 700;
		width: 160px;
		@include bp-1200 {
			width: 100%;
		}
		@include bp-480 {
			font-size: 16px;
		}
	}
}

.small-card__btn {
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #503F97;
	img {
		position: absolute;
		display: block;
		top: 2px;
		left: 2px;
		right: 0;
		bottom: 0;
		margin: auto;
		width: 8px;
	}
	@include bp-480 {
		width: 25px;
		height: 25px;
		img {
			width: 5px;
		}
	}
}

.more__cards {
	display: none;
}

.display {
	display: flex;
}

/*-----------*/




/*Btn more services*/

.btn__more-services {
	display: flex;
	margin-top: 20px;
	justify-content: center;
	a {
		display: block;
		padding: 20px 45px;
		border: 2px dotted $link;
		color: $link;
		border-radius: 45px;
		font-weight: 700;
		font-size: 20px;
		cursor: pointer;
		&:hover {
			background-color: $hover;
			color: $white;
			border-color: transparent;
		}
		@include bp-480 {
			font-size: 16px;
			padding: 15px 35px;
		}
	}
}

/*-----------*/



// SECTION END ==========


