//FOOTER / CONTACTS

.footer__container {
	position: relative;
	overflow: hidden;
	&:before {
		content: '';
		position: absolute;
		left: 0;
		bottom: 100px;
		background: url('../img/car__footer.png') no-repeat;
		width: 310px;
		height: 320px;
		@include bp-992 {
			top: 80px;
			left: 70%;
			bottom: 0;
			transform: scaleX(-1);
		}
		@include bp-640 {
			display: none;
		}
	}
}

.contacts__wrap {
	display: flex;
	flex-direction: row;
	@include bp-992 {
		flex-direction: column;
	}
}

.padding-footer {
	padding-top: 20px;
	margin-bottom: 0;

}

/*Contacts*/

.contacts__info {
	display: flex;
	flex-direction: column;
	margin-right: 80px;
	@include bp-1200 {
		margin-right: 0;
	}

	@include bp-480 {
		width: 100%;
	}
}

.contacts__info-box {
	display: flex;
	flex-direction: row;
	@include bp-640 {
		margin-bottom: 20px;
		justify-content: center;
	}
	@include bp-480 {
		flex-direction: column;
	}

}

.info__block {
	display: flex;
	flex-direction: column;
	margin: 15px;
	@include bp-1200 {
		margin-top: 0;
	}
	@include bp-480 {
		margin: 0;
		flex-direction: column;
	}
}

.info__1 {
	margin-left: 0;
}

.info__address,
.info__mail,
.info__phone,
.info__time {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 5px;
	img {
		margin-right: 10px;
	}
	@include bp-768 {
		p, span, a {
			font-size: 16px;
		}
	}
	@include bp-480 {
		p, span, a {
			font-size: 16px;
		}
	}
}


.info__phone {
	font-size: 22px;
	font-weight: 700;
	img {
		height: 24px;
	}
}

.phone__box {
	@include bp-768 {
		p {
			font-size: 22px !important;
		}
	}
	@include bp-480 {

		& p:first-child {
			margin-right: 30px;
			@include bp-480 {
				margin-right: 10px;
			}
		}
	}

	@media only screen and (max-width: 340px) {
		flex-direction: column;
	}
}


.info__address {
	img {
		height: 22px;
	}
}

.info__mail {
	img {
		height: 14px;
	}
}

.info__time {
	img {
		height: 18px;
	}
}

.time_box {
	@include bp-480 {
		display: flex;
		flex-direction: row;
		p {
			margin: 10px;
		}
		& p:first-child {
			margin-left: 0;
		}
	}
	@media only screen and (max-width: 360px) {
		flex-direction: column;
		p {
			margin: 0;
		}
	}
}


.contacts__btns {
	margin-bottom: 30px;
	@include bp-640 {
		flex-direction: column;
	}
}

.footer__btn1 {
	border-color: #F5D1BC;
	box-shadow: none !important;
	@include bp-640 {
		width: 100%;
		margin-right: 0;
		margin-bottom: 15px;
	}

}

.footer__btn2 {
	color: $orange;
	box-shadow: none !important;
	@include bp-640 {
		width: 100%;
		margin-right: 0;
	}
}

.contacts__social {
	margin-bottom: 60px;
	a {
		margin: 5px;
	}
	@include bp-640 {
		text-align: center;
	}
}

/*-----------*/


/*Map*/

.contacts__block {
	position: relative;
	width: 50%;
	@include bp-992 {
		width: auto;
		.h2__title {
			margin-bottom: 30px;
		}
	}
	@include bp-640 {
		.h2__title {
			text-align: center;
		}
	}
	@include bp-480 {
		.h2__title {
			text-align: left;
		}
	}
}

.map__container {
	position: absolute;
	box-sizing: border-box;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 1000px;
	height: 470px;
	border-top: 15px solid #F1F0F5;
	border-left: 15px solid #F1F0F5;
	border-top-left-radius: 50px;
	@include bp-992 {
		position: relative;
		width: 100%;
		border: 0;
		border-top-left-radius: 0;
	}

}


/*-----------*/


/*Footer*/

footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.footer__info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 15px;
	margin-bottom: 15px;
	@include bp-480 {
		flex-direction: column;
	}
	p {
		font-size: 12px;
		@include bp-1200 {
			margin-left: 15px;
			margin-right: 15px;
			text-align: center;
		}
		@include bp-480 {
			margin-bottom: 10px;
		}
	}
	span {
		font-size: 12px;
		margin-right: 25px;
		@include bp-1200 {
			margin-left: 15px;
			margin-right: 15px;
			text-align: center;
		}
	}
}

.footer-line {
	position: relative;
	width: 100%;
	height: 1px;
	background: red;
	@include bp-1200 {
		display: none;
	}
}

.f-line {
	position: absolute;
	top: 0;
	right: 0;
	width: 900px;
	height: 1px;
	background: #E9E8EC;
}

/*-----------*/


// SECTION END ==========